.logo {
    background-image: url("../img/pattern.png");
    height: 2%;
    background-color: rgb(86, 143, 222);
    background-size: 25%;
}

.logo img {
    height: 80%;
    width: 20%;
    margin-top: 15px;
}

h1 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 0px;
    color: grey;
}

h5 span {
    color: rgb(86, 143, 222);
}

figure {
    margin-left: 0px;
}

ul {
    margin-left: 0px;
    padding-left: 15px;
}

table {
    width: 100%;
}

thead {
    background-color: rgb(86, 143, 222);
    color: white;
    text-align: left;
}

.three {
    width: 50%;
}

.skyblue {
    background-color: skyblue;
}

footer div {
    width: 311px;
    height: 207px;
    color: white;
    padding: 5px;
}

.photo-one {
    background-image: url("../img/monitor.jpg");
}

.photo-two {
    background-image: url("../img/graph.jpg");
}